@import "tailwindcss";
@import "@nuxt/ui";

body {
  @apply bg-gray-200;
}

.dark body {
  @apply bg-neutral-950;
}

@theme static {
  --color-primary-50: oklch(0.965 0.016 245.06);
  --color-primary-100: oklch(0.922 0.038 242.11);
  --color-primary-200: oklch(0.841 0.083 239.33);
  --color-primary-300: oklch(0.762 0.136 233.57);
  --color-primary-400: oklch(0.688 0.13 233.36);
  --color-primary-500: oklch(0.598 0.113 233.28);
  --color-primary-600: oklch(0.505 0.095 233.02);
  --color-primary-700: oklch(0.411 0.078 233.39);
  --color-primary-800: oklch(0.325 0.061 232.69);
  --color-primary-900: oklch(0.23 0.044 233.31);
  --color-primary-950: oklch(0.176 0.034 232.56);
}

